In [ ]:
x = 1

In [ ]:
y = 2