In [ ]:
import math

In [ ]:
z = math.sqrt(9)