In [ ]:
x = 1

In [ ]:
print('hi')