In [ ]:
x = 3

In [ ]:
y = input("number")

In [ ]:
for i in range(y):
    print(i * 2)

In [ ]:
print('hi')