In [ ]:
def f(x):
    return x*2

In [ ]:
y=f(3)